.reviewBlock{
  width: 80%;
  border: 2px solid #e8e7e6;
  border-radius: 15px;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.review-header{
  display: flex;
  justify-content: space-between;
}
.reviewBlock img{
  max-width: 250px;
  width: 30%;
  height: auto;
}
.reviewBlock input{
  max-width: 80%;
}

.dark{
  color: #9B9D9E;
  background-color: #212529;
}

.tag{
  background-color: #abc8f5;
  color: #000000;
  border-radius: 10px;
  padding: 0 10px;
  margin-right: 5px;
}

a{
  text-decoration:none;
}
.imageCard{
  position: relative;
  margin-right: 3%;
}
/* .removeImageBtn{
  position: absolute;
  z-index: 2;
  right: 10px;
  font-size: 25px;
  color: red;
} */


.removeImageBtn {
  display: inline;
position: absolute;
right: -10px;
border-radius: 10em;
padding: 2px 6px 3px;
font: 700 21px/20px sans-serif;
background: #555;
border: 3px solid #fff;
color: #FFF;
}
.removeImageBtn:hover {
 background: #E54E4E;
  padding: 3px 7px 5px;
right: -11px;
}
.removeImageBtn:active {
 background: #E54E4E;
right: -11px;
}

@media screen and (max-width: 1200px) {
  .review-images{
    flex-direction: column;
  }
}

.none{
  display: none;
  color: inherit;
}

.vivible{
  display: block;
}

.loginbtn{
  max-width: 200px;
  max-height: 30px;
}

/* ---------------stars--------------*/
.star {
  display: inline-block;
  cursor: pointer;
}

.inactive, .active {
  background: transparent;
  user-select: none;
}

.inactive {
  color: #f1f1e8;
}

.active {
  color: red;
}
