.reviewBlock{
  width: 80%;
  border: 2px solid #e8e7e6;
  border-radius: 15px;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.review-header{
  display: flex;
  justify-content: space-between;
}
.reviewBlock img{
  max-width: 250px;
  width: 30%;
  height: auto;
  margin-right: 3%;
}
.reviewBlock input{
  max-width: 80%;
}

.dark{
  color: #9B9D9E;
  background-color: #212529;
}

a{
  text-decoration:none;
}



@media screen and (max-width: 1200px) {
  .review-images{
    flex-direction: column;
  }
}

.none{
  display: none;
  color: inherit;
}

.vivible{
  display: block;
}

.loginbtn{
  max-width: 200px;
  max-height: 30px;
}
